
.container {
    max-width: 65%;
    margin: 0 auto;
}

.header {
    background-color: #477bec;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}
.h-custom {
    height: calc(100% - 73px);
    }

.subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    align-items: center;
    justify-items: center;
}

.images img {
    width: 100%;
    height: auto;
}

.images button {
    background-color: #477bec;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    margin: 10px auto 0;
}

.images-container {
    width: 280px;
    height: 280px;
    border: 1px solid #ddd;
    margin: 10px;
    position: relative;
  }
  
  .images-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .votar-ahora:hover {
    cursor: help;
  }

  @media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
    }

