*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.caja-galeria{
    width: 28%;
    height: 250px;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden; /*para q todo lo q salga de caja galeria no se vea*/
}
.caja-galeria:hover .caja-hover{
    transform: translate(0);
}
.caja-hover{
    transform: translate(100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
}
.caja-galeria img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /*para q no se deforme tanto la img*/

}
@media screen and (max-width:900px){
    .caja-galeria{
        width: 45%;
    }

    .caja-hover{
        font-size: 20px;
    }
}
@media screen and (max-width:500px){
    .caja-galeria{
        width: 90%;
    }

    .caja-hover{
        font-size: 18px;
    }
}